<div *ngIf="expediteur">
    <h2>Détails de l'Expéditeur</h2>
    <p><strong>Nom:</strong> {{ expediteur.nom_expediteur }}</p>
    <p><strong>Numéro de téléphone:</strong> {{ expediteur.num_tel_expediteur }}</p>
    <p><strong>Gouvernement:</strong> {{ expediteur.gouvernement }}</p>
    <p><strong>Ville:</strong> {{ expediteur.ville }}</p>
    <p><strong>Adresse:</strong> {{ expediteur.adresse }}</p>
    <p><strong>Code TVA:</strong> {{ expediteur.code_tva }}</p>
    <p><strong>Email:</strong> {{ expediteur.email }}</p>
    <p><strong>Mode de paiement:</strong> {{ expediteur.mode_paiement }}</p>
    <p><strong>Frais de livraison:</strong> {{ expediteur.frais_livraison }}</p>
    <p><strong>Frais de retour:</strong> {{ expediteur.frais_retour }}</p>
</div>
