<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading" style="color: blue;font-size: larger;">ACEUIL</div>
                <a class="nav-link" routerLink="../../dashboard">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
              
                <div class="sb-sidenav-menu-heading" style="color: blue;font-size: larger;">Paremetre Global</div>
                <a class="nav-link collapsed" routerLink="../expediteurs/add" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="menu-icon fa fa-database"></i></div>
                    Ajouter Expediteur
                </a>
              
                <a class="nav-link collapsed" routerLink="../expediteur/addechange"  data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                    <div class="sb-nav-link-icon"><i class="menu-icon fa fa-exchange"></i></div>
                    Ajouter Livreur
                </a>
              
                <div class="sb-sidenav-menu-heading"style="color: blue;font-size: larger;">COLIS</div>
                <a class="nav-link" routerLink="../colis/add_etat">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
Ajouter Etat Colis                </a>
             
            </div>
        </div>
   
    </nav>
</div>