<body class="body">
    <div class="login">
        <div class="sufee-login d-flex align-content-center flex-wrap">
            <div class="container">
                <div class="login-content">
                    <div class="login-logo">
                     
                    </div>
                    <div class="login-form">
                        <form #f=ngForm (ngSubmit)="onSubmit(f)">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" name="email" placeholder="Email"ngModel required
                                #email=ngModel pattern="[a-zA-Z0-9]+@[a-zA-Z]+.[a-zA-Z]{2,4}">
                              
                            </div>
                            <div class="alert alert-danger" *ngIf="email.invalid && email.touched">
                                <div *ngIf="email.errors?.['required']"> The email is required</div>
                                <div *ngIf="email.errors?.['pattern']"> The email pattern is not correct</div>
                              </div>
                            <div class="form-group">
                                <label>Mot de passe</label>
                                <div class="input-group mb-md">
                                    <input type="password" class="form-control" name="password" id="id_password" placeholder="Mot de passe" ngModel required>>
                                    <span class="input-group-addon" id="divPassword">
                                        <i class="fa fa-eye" id="togglePassword"></i></span>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30"[disabled]="f.invalid">Connexion</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        </div>
</body>