<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading" style="color: blue;font-size: larger;">ACEUIL</div>
                <a class="nav-link" routerLink="/expediteur/dashboard">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
              
                <div class="sb-sidenav-menu-heading" style="color: blue;font-size: larger;">PICKUP</div>
                <a class="nav-link collapsed" routerLink="/expediteur/addcolis" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="menu-icon fa fa-database"></i></div>
                    Ajouter Colis
                </a>
              
               
                <div class="sb-sidenav-menu-heading"style="color: blue;font-size: larger;">Autres</div>
                <a class="nav-link" routerLink="/expediteur/colis">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Mes colis
                </a>
              
            </div>
        </div>
   
    </nav>
</div>